In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('use ineuron')

# Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [5]:
cur.execute("SELECT * FROM worker w1 WHERE 4=(SELECT COUNT(salary) FROM worker w2 WHERE w2.salary>w1.salary)")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')]

# Q-2. Write an SQL query to fetch the list of employees with the same salary.

In [6]:
cur.execute("SELECT w1.* FROM worker w1 JOIN worker w2 ON w1.salary=w2.salary AND w1.worker_id!=w2.worker_id")

In [7]:
cur.fetchall()

[(5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]