In [6]:
import mysql.connector as con

In [7]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [8]:
cur = mydb.cursor()

In [11]:
cur.execute('use ineuron')

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [13]:
cur.execute("SELECT REPLACE(first_name, 'a', 'A') from worker")
cur.fetchall()

[('MonikA',),
 ('NihArikA',),
 ('VishAl',),
 ('AmitAbh',),
 ('Vivek',),
 ('Vipul',),
 ('SAtish',),
 ('GeetikA',)]

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [15]:
cur.execute('select * from worker order by first_name asc, department desc')
cur.fetchall()

[(4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin'),
 (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')]

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [17]:
cur.execute("SELECT first_name, last_name FROM worker ORDER BY salary DESC limit 1;")
cur.fetchall()

[('Amitabh', 'Singh')]