In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('use ineuron')

# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [5]:
cur.execute("SELECT * FROM worker where year(joining_date)=2014 and month(joining_date)=2")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]

# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [7]:
cur.execute("select * from employee")

In [8]:
cur.fetchall()

[(1, 'Ram', 'ram@gmail.com'),
 (2, 'Shyam', 'shyam@hotmail.com'),
 (3, 'Rahul', 'rahul@gmail'),
 (4, 'Ankit', 'ank22kumar@gmail.com'),
 (5, 'Ankit', 'ankkumar@gmail.com'),
 (6, 'Ankit', 'ank22kumar@gmail.com')]

In [9]:
mydb.commit()

In [10]:
## code to fetch duplicate records

cur.execute("SELECT name, email from employee group by name, email having count(*)>1")
cur.fetchall()

[('Ankit', 'ank22kumar@gmail.com')]

# Q-3. How to remove duplicate rows from Employees table.

In [11]:
cur.execute("Delete e1 From employee e1 inner join employee e2 where e1.empid>e2.empid and e1.name=e2.name and e1.email=e2.email")

In [12]:
cur.execute("select * from employee")
cur.fetchall()

[(1, 'Ram', 'ram@gmail.com'),
 (2, 'Shyam', 'shyam@hotmail.com'),
 (3, 'Rahul', 'rahul@gmail'),
 (4, 'Ankit', 'ank22kumar@gmail.com'),
 (5, 'Ankit', 'ankkumar@gmail.com')]