In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('use ineuron')

# Q-1 Write an SQL query to fetch intersecting records of two tables.

In [5]:
cur.execute("Select * from new_workers")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]

In [6]:
cur.execute("SELECT w.* FROM ineuron.worker w INNER JOIN ineuron.new_workers nw ON w.worker_id = nw.worker_id and w.first_name=nw.first_name and w.last_name=nw.last_name and w.department=nw.department;")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]

# Q-2. Write an SQL query to show records from one table that another table does not have.

In [7]:
## below code performs worker MINUS new_workers

cur.execute("select * from ineuron.worker where (worker_id, first_name, last_name, department) not in (SELECT w.worker_id, w.first_name, w.last_name, w.department FROM ineuron.worker w INNER JOIN ineuron.new_workers nw ON w.worker_id = nw.worker_id and w.first_name=nw.first_name and w.last_name=nw.last_name and w.department=nw.department)")

In [8]:
cur.fetchall()

[(5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]