In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute("use ineuron")

In [5]:
cur.execute("select * from worker")

In [6]:
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [7]:
cur.execute("SELECT SUBSTR(first_name, 1,3) FROM worker")
cur.fetchall()

[('Mon',),
 ('Nih',),
 ('Vis',),
 ('Ami',),
 ('Viv',),
 ('Vip',),
 ('Sat',),
 ('Gee',)]

# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [14]:
cur.execute("SELECT LOCATE('a', first_name) from worker where first_name='Amitabh'")

In [15]:
cur.fetchall()

[(1,)]

# Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [17]:
cur.execute("SELECT department, first_name, last_name FROM ineuron.worker where salary in (select max(salary) from ineuron.worker group by department )")
cur.fetchall()

[('HR', 'Vishal', 'Singhal'),
 ('Admin', 'Amitabh', 'Singh'),
 ('Admin', 'Vivek', 'Bhati'),
 ('Account', 'Vipul', 'Diwan')]