In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [4]:
cur.execute("SELECT RTRIM(first_name) FROM ineuron.worker") 
cur.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [6]:
cur.execute("SELECT distinct LENGTH(department) FROM ineuron.worker")
cur.fetchall()

[(2,), (5,), (7,)]

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [10]:
n = int(input("Enter the n value: "))

cur.execute("(SELECT salary FROM ineuron.worker ORDER BY salary DESC LIMIT %d) ORDER BY salary LIMIT 1"%n)
cur.fetchall()

Enter the n value: 3

[(300000,)]