In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('use ineuron')

# Q-1. Write an SQL query to show only odd rows from aÂ table.

In [5]:
cur.execute("SELECT * FROM worker where worker_id%2=1")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

# Q-2 Write an SQL query to clone a new table from another table.

In [9]:
cur.execute("Create Table new_worker1 Like worker")
cur.execute("Insert Into new_worker1 Select * from worker")
cur.execute("Select * from new_worker1")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]