In [1]:
import mysql.connector as con

In [2]:
mydb = con.connect(host='localhost', user='root', passwd='Ankit7631')

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('use ineuron')

# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [5]:
cur.execute("SELECT * FROM worker WHERE first_name not in ('Vipul', 'Satish')")
cur.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [6]:
cur.execute("SELECT * FROM worker WHERE first_name like '_____h'")
cur.fetchall()

[(7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

# Q-3. Write a query to validate Email of Employee.

In [7]:
cur.execute("Create table employee(EmpId int, Name nvarchar(50), email nvarchar(20), Primary Key(EmpId))")

In [9]:
cur.execute("Insert Into employee (EmpId, Name, email) values (1, 'Ram', 'ram@gmail.com'), (2, 'Shyam', 'shyam@hotmail.com'), (3, 'Rahul', 'rahul@gmail'), (4, 'Ankit', 'ank22kumar@gmail.com')")

In [10]:
cur.execute("Select * from employee")
cur.fetchall()

[(1, 'Ram', 'ram@gmail.com'),
 (2, 'Shyam', 'shyam@hotmail.com'),
 (3, 'Rahul', 'rahul@gmail'),
 (4, 'Ankit', 'ank22kumar@gmail.com')]

In [11]:
cur.execute("SELECT * FROM employee WHERE email like '%@%.%'")
cur.fetchall()

[(1, 'Ram', 'ram@gmail.com'),
 (2, 'Shyam', 'shyam@hotmail.com'),
 (4, 'Ankit', 'ank22kumar@gmail.com')]